**Q1** A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

Minitab File : Cutlets.mtw!

climb = there is any significant difference in the diameter of the cutlet between two units

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
data = pd.read_csv("..\Cutlets.csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
(len(data["Unit A"]),len(data["Unit B"]))

(35, 35)

**Population:** Company

**Parameter of Interest:** $\mu_1 - \mu_2$, Diameter of Cutlet

**Null Hypothesis(H0):** $\mu_1 = \mu_2$ (There is no significant difference in the diameter of the cutlet between two units)

**Alternative Hypthosis(Ha or H1):** $\mu_1 \neq \mu_2$ (significant difference in the diameter of the cutlet between two units)

scipy.stats.ttest_ind(a, b, axis=0, equal_var=True, nan_policy='propagate', permutations=None, random_state=None, alternative='two-sided', trim=0)

In [4]:
stats.ttest_ind(data["Unit A"],data["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

**Since, the pvalue is < 0.05 , will reject the null hypotesis,<br>
Ans : significant difference in the diameter of the cutlet between two units**

<hr>

**Q2** A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
Â 
Minitab File: LabTAT.mtw

In [5]:
data = pd.read_csv("..\LabTAT.csv")
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

**Population:** 4 Laboratory of hospital

**Parameter of Interest:** $\mu_1 - \mu_2$,Turn Around Time (TAT) of reports of the laboratories 

**Null Hypothesis(H0):** $\mu_1 = \mu_2 = \mu_3 = \mu_4$ (there is no difference in the average Turn Around Time (TAT) of reports of the laboratories)

**Alternative Hypthosis(Ha or H1):** At least one of the $\mu$ is different from others

Since the data has 3 samples, numeric we have to do Anova test

In [6]:
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

**Conclusion:**<br>
Since the pvalue is samlle than alpha(0.05) ,we can reject the null hypotesis & we can conclud that there is difference between at least one the liboratory ,Turn Around Time (TAT) of reports.<br>
data = Buyer Ratio.mtw

<hr>

**Q3** Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [7]:
data = pd.read_csv("..\BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

**Null Hypothesis(H0):** All proportions are equal (male-female buyer rations similar across regions)<br>
**Alternative Hypthosis(Ha or H1):** Not all Proportions are equal (male-female buyer rations are not similar across regions)

In [8]:
#Contingency table
table = [[x for x in data.iloc[0,1:]],[x for x in data.iloc[1,1:]]]
table

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [9]:
stat,p,dof,excepted = stats.chi2_contingency(table)
print(p)

0.6603094907091882

**Conclusion:**<BR>
Since the pvalue is less than alpha , we are fail to reject null,
we can conclud that Not all Proportions are equal

<hr>

**Q4** TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Minitab File: CustomerOrderForm.mtw

In [10]:
data = pd.read_csv("..\Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

**Null Hypothesis(H0):** All Centers has equal Defective %<br>
**Alternative Hypthosis(Ha or H1):** Defective % varies by centre

Since the data has 4 smples and categorical, we need to perform Chi-square Test of independeance

In [11]:
Observed = [data["Phillippines"][data["Phillippines"]=="Defective"].count(),
data["Indonesia"][data["Indonesia"]=="Defective"].count(),
data["Malta"][data["Malta"]=="Defective"].count(),
data["India"][data["India"]=="Defective"].count()]
Observed

[29, 33, 31, 20]

In [12]:
np.mean(Observed)

28.25

In [13]:
Excepted = [28.25,28.25,28.25,28.25]

In [14]:
stats.chisquare(f_obs=Observed,f_exp=Excepted)

Power_divergenceResult(statistic=3.495575221238938, pvalue=0.3213364533760661)

**Conclusion:**<br>
Since the pvalue is more the Alpha , Fail to reject the null,
we can conclud that All centers are Equal Defective porpostion.