In [1]:
from scipy import stats
import pandas

In [2]:
data = pandas.read_csv("Cars.csv")
data.head(5)

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [3]:
MPG=data["MPG"]
MPG.head()

0    53.700681
1    50.013401
2    50.013401
3    45.696322
4    50.504232
Name: MPG, dtype: float64

# a. P(MPG>38)

In [4]:
1- stats.norm.cdf(x=38,loc=MPG.mean(),scale=MPG.std())

0.3475939251582705

# b. P(MPG<40)

In [5]:
stats.norm.cdf(x=40,loc=MPG.mean(),scale=MPG.std())

0.7293498762151616

# c. P (20<MPG<50)

In [6]:
X1_20 = stats.norm.cdf(x=20,loc=MPG.mean(),scale=MPG.std())
X1_20

0.05712377632115936

In [7]:
X2_58 = stats.norm.cdf(x=50,loc=MPG.mean(),scale=MPG.std())
X2_58

0.955992693289364

In [8]:
P = X2_58 - X1_20
P

0.8988689169682046