In [1]:
from scipy import stats 
import pandas
import numpy as np

In [2]:
data= pandas.read_csv("Q7.csv")
data.head(5)

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [3]:
data.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

# Points

In [4]:
data["Points"].mean()

3.5965625000000006

In [5]:
data["Points"].median()

3.6950000000000003

In [6]:
data["Points"].mode()

0    3.07
1    3.92
dtype: float64

In [7]:
data["Points"].var()

0.28588135080645166

In [8]:
data["Points"].std()

0.5346787360709716

In [9]:
np.ptp(data["Points"])   #RAGNE

2.17

# Score

In [10]:
data["Score"].mean()

3.2172499999999995

In [11]:
data["Score"].median()

3.325

In [12]:
data["Score"].mode()

0    3.44
dtype: float64

In [13]:
data["Score"].var()

0.9573789677419356

In [14]:
data["Score"].std()

0.9784574429896967

In [15]:
np.ptp(data["Score"]) #RANGE

3.9110000000000005

# Weigh

In [17]:
data["Weigh"].mean()

17.848750000000003

In [18]:
data["Weigh"].median()

17.71

In [19]:
data["Weigh"].mode()

0    17.02
1    18.90
dtype: float64

In [20]:
data["Weigh"].var()

3.193166129032258

In [21]:
data["Weigh"].std()

1.7869432360968431

In [16]:
np.ptp(data["Weigh"]) # RANGE

8.399999999999999

In [22]:
stats.t.interval(alpha=0.06,df=1999,loc=200,scale=30)

(197.74162011566807, 202.25837988433193)

In [23]:
stats.t.interval(alpha=0.04,df=1999,loc=200,scale=30)

(198.49520384079835, 201.50479615920165)

In [24]:
stats.t.interval(alpha=0.02,df=1999,loc=200,scale=30)

(199.24783863179837, 200.75216136820163)