In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as sp

importing data & view

In [2]:
data = pd.read_csv("../Data_sets/Q1.csv")
data.head(2)

  Name of company Measure X
0   Allied Signal    24.23%
1   Bankers Trust    25.53%

Cleaning data(Rename,Remove "%" sign & converting str to Float)

In [3]:
data.rename(columns={"Measure X":"MeasureX","Name of company":"Companies"},inplace=True)
data = data.replace('\%','',regex=True)
data.head()

          Companies MeasureX
0     Allied Signal    24.23
1     Bankers Trust    25.53
2     General Mills    25.41
3    ITT Industries    24.14
4  J.P.Morgan & Co.    29.62

In [4]:
x = data["MeasureX"].astype(float)
data["MeasureX"]= x

In [9]:
data.describe()

        MeasureX
count  15.000000
mean   33.271333
std    16.945401
min    24.140000
25%    25.470000
50%    26.710000
75%    33.975000
max    91.360000

In [6]:
sp.stats.percentileofscore(a=data.MeasureX,score=25)
#scipy.stats.percentileofscore(a, score, kind='rank')
#scipy.stats.percentileofscore(a, score, kind='rank')

20.0

In [ ]:
sp.stats.percentileofscore(data.MeasureX,50)
#scipy.stats.percentileofscore(a, score, kind='rank')
#scipy.stats.percentileofscore(a, score, kind='rank')

In [ ]:
sp.stats.percentileofscore(data.MeasureX,)
#scipy.stats.percentileofscore(a, score, kind='rank')
#scipy.stats.percentileofscore(a, score, kind='rank')

In [ ]:
sp.stats.iqr(data.MeasureX)

In [ ]:
plt.figure(figsize=(5,5))
sns.boxplot(y="MeasureX",data=data,orient="v")
plt.show()

droping outlier

In [ ]:
data1 = data.drop(data[data["MeasureX"]>90].index)
data1

In [ ]:
plt.figure(figsize=(5,5))
sns.boxplot(y="MeasureX",data=data1,orient="v")
plt.show()

Mean , variance & Standard Deviation

In [ ]:
data["MeasureX"].mean()

In [ ]:
data["MeasureX"].var()

In [ ]:
data["MeasureX"].std()

#